@model IEnumerable<TeraFrontendMVC.Models.StateViewModel>

@{
    ViewData["Title"] = "States";
}

<h1>States</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
        </tr>
}
    </tbody>
</table>
