@model ResultsResponseViewModel

<!-- Tabla de resultados -->
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <table id="resultadosTable">
        <tr>
            <th>Centro</th>
            <th>Mesa</th>
            <th>EG</th>
            <th>NM</th>
            <th>LM</th>
            <th>JABE</th>
            <th>JOBR</th>
            <th>AE</th>
            <th>CF</th>
            <th>DC</th>
            <th>EM</th>
            <th>BERA</th>
        </tr>
        @foreach (var resultado in Model.Resultados)
        {
            <tr>
                <td>@resultado.Centro</td>
                <td>@resultado.Mesa</td>
                <td>@resultado.EG</td>
                <td>@resultado.NM</td>
                <td>@resultado.LM</td>
                <td>@resultado.JABE</td>
                <td>@resultado.JOBR</td>
                <td>@resultado.AE</td>
                <td>@resultado.CF</td>
                <td>@resultado.DC</td>
                <td>@resultado.EM</td>
                <td>@resultado.BERA</td>
            </tr>
        }
    </table>
    <div class="pagination">
        <button onclick="changePage('prev')">&lt;</button>
        <span>Página @Model.PageNumber</span>
        <button onclick="changePage('next')">&gt;</button>
    </div>

    <!-- Votos Totales -->
    <div id="TitleContainer">
        <p>Votos Totales por Candidato:</p>
    </div>

    <table id="votosTotalesTable">
        <tr>
            <th>EG Total</th>
            <th>NM Total</th>
            <th>LM Total</th>
            <th>JABE Total</th>
            <th>JOBR Total</th>
            <th>AE Total</th>
            <th>CF Total</th>
            <th>DC Total</th>
            <th>EM Total</th>
            <th>BERA Total</th>
        </tr>
        <tr>
            <td>@Model.SumaVotos.TotalEG</td>
            <td>@Model.SumaVotos.TotalNM</td>
            <td>@Model.SumaVotos.TotalLM</td>
            <td>@Model.SumaVotos.TotalJABE</td>
            <td>@Model.SumaVotos.TotalJOBR</td>
            <td>@Model.SumaVotos.TotalAE</td>
            <td>@Model.SumaVotos.TotalCF</td>
            <td>@Model.SumaVotos.TotalDC</td>
            <td>@Model.SumaVotos.TotalEM</td>
            <td>@Model.SumaVotos.TotalBERA</td>
        </tr>
    </table>

}
