@using TeraFrontendMVC.Models.Results
@model ResultsResponseViewModel

<!-- Tabla de resultados -->
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <div id="resultadosTableContainer">
        <table id="resultadosTable">
            <tr>
                <th>Centro</th>
                <th>Mesa</th>
                <th>EG</th>
                <th>NM</th>
                <th>LM</th>
                <th>JABE</th>
                <th>JOBR</th>
                <th>AE</th>
                <th>CF</th>
                <th>DC</th>
                <th>EM</th>
                <th>BERA</th>
            </tr>
            @if (@Model.Amount > 0)
            {
                @foreach (var resultado in Model.Resultados)
                {
                    <tr>
                        <td>@resultado.Centro</td>
                        <td>@resultado.Mesa</td>
                        <td>@resultado.EG.ToString("N0")</td>
                        <td>@resultado.NM.ToString("N0")</td>
                        <td>@resultado.LM.ToString("N0")</td>
                        <td>@resultado.JABE.ToString("N0")</td>
                        <td>@resultado.JOBR.ToString("N0")</td>
                        <td>@resultado.AE.ToString("N0")</td>
                        <td>@resultado.CF.ToString("N0")</td>
                        <td>@resultado.DC.ToString("N0")</td>
                        <td>@resultado.EM.ToString("N0")</td>
                        <td>@resultado.BERA.ToString("N0")</td>
                    </tr>
                }
            }
        </table>
        @if (@Model.Amount == 0)
        {
            <p>No hay resultados para mostrar.</p>
        }
    </div>
    <div class="pagination">
        @if (int.Parse(Model.PageNumber) > 1)
        {
            <button onclick="changePage('prev')">&lt;</button>
        }
        <span>Página @Model.PageNumber</span>
        @if (@Model.Amount > 0)
        {
            <button onclick="changePage('next')">&gt;</button>
        }
    </div>

    <!-- Votos Totales -->
    <div id="TitleContainer">
        <p>Votos Totales por Candidato:</p>
    </div>

    <table id="votosTotalesTable">
        <tr>
            <th>Edmundo Gonzalez</th>
            <th>Nicolas Maduro</th>
            <th>Luis Martinez</th>
            <th>Javier Bertucci</th>
            <th>Jose Brito</th>
            <th>Antonio Ecarri</th>
            <th>Claudio Fermin</th>
            <th>Daniel Ceballos</th>
            <th>Enrique Marquez</th>
            <th>Benjamin Rausseo</th>
        </tr>
        <tr>
            <td>@Model.SumaVotos.TotalEG.ToString("N0")</td>
            <td>@Model.SumaVotos.TotalNM.ToString("N0")</td>
            <td>@Model.SumaVotos.TotalLM.ToString("N0")</td>
            <td>@Model.SumaVotos.TotalJABE.ToString("N0")</td>
            <td>@Model.SumaVotos.TotalJOBR.ToString("N0")</td>
            <td>@Model.SumaVotos.TotalAE.ToString("N0")</td>
            <td>@Model.SumaVotos.TotalCF.ToString("N0")</td>
            <td>@Model.SumaVotos.TotalDC.ToString("N0")</td>
            <td>@Model.SumaVotos.TotalEM.ToString("N0")</td>
            <td>@Model.SumaVotos.TotalBERA.ToString("N0")</td>
        </tr>
    </table>

}
